/* You can add global styles to this file, and also import other style files */
body { 
    height: 100vh;
    color: azure;
    background-image: url('http://www.gsfdcy.com/data/img/53/1740244-macbook-pro-wallpaper.jpg');
    margin: 0 !important;  }