<!-- CSS Links -->
<link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One" rel="stylesheet">

<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
  <div style="text-align:center">
    <h1 class="mean-header">Welcome to <span>{{ title }}!</span></h1>
    <div><img width= "250" alt="Fenix" src="https://upload.wikimedia.org/wikipedia/en/e/e1/Phoenix1_logo.png"></div>
    <img width="500" alt="Angular Logo" src="https://camo.githubusercontent.com/a89542301dd06b8d2a38af0e540c6f49ae467458/68747470733a2f2f64323169693931693379366f36682e636c6f756466726f6e742e6e65742f67616c6c6572795f696d616765732f66726f6d5f70726f6f662f363132302f6c617267652f313433353732333430302f6d65616e2d737461636b2d6469652d6375742e706e67">
  </div>
  <div class="header">
    <hr>
    <h2 class="helpful-links">Here are some links to help you start: </h2>
  </div>
  <div class="cent">
    <ul>
      <li><h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2></li>
      <li><h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2></li>
      <li><h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2></li>
    </ul>
  </div>
</div>